body {
    background-color: cornflowerblue;
}

p, label {
	color: #8b8b8bcc;
}

h1 {
	color: #46484c;
}

button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
}